html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-image: url(/images/lil_logo.jpg);
    background-size: 55px;
}

body {
    display: flex;
    flex-direction: column;
}

p, a, h1, li, label {
    font-family: 'Trebuchet MS', sans-serif;
    color: black;
    text-decoration: none;
}

.bg {
    height: 553.5px;
    background-image: url(images/header_main.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.flex-container {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    margin: auto;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.9);
}

.flex-container-main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
}

header {
    display: flex;
    align-items: center;
    margin: 10px;
}

h1 {
    margin-left: 50px !important;
    font-size: 40px;
}

nav {
    display: flex;
    background-color: #00cdba;
    margin-left: 40px;
    margin-right: 40px;
    padding: 10px;
    justify-content: space-evenly;
}

.songs {
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    flex-direction: row;
    justify-content: space-evenly;
}

.songs img {
    width: 100px;
}

nav a {
    font-size: 20px;
}

main {
    margin-top: 10px;
}

aside {
    margin-top: 10px;
}

aside p, li {
    font-size: 20px;
    margin-bottom: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 2px solid black;
    padding: 8px;
    font-size: 20px;
    font-family: 'Trebuchet MS', sans-serif;
}

ul {
    margin: 10px;
}

.events {
    height: 150px;
}

.box-aside {
    border: 2px solid black;
    width: 350px;
    height: 950px;
    padding-left: 30px;
}

footer {
    margin-top: auto;
    text-align: center;
    background-color: #00cdba;
    margin-left: 70px;
    margin-right: 70px;
    padding: 0px;
}

form {
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 30px;
}

input {
    font-size: 17.5px;
    margin-bottom: 20px;
    width: 500px;
    height: 30px;
}

.radio {
    width: auto;
    height: auto;
    margin-bottom: 20px;
}